<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5ML8ZQ6');</script>
<!-- End Google Tag Manager -->
<title>{{ .Site.Title }}</title>

{{ $style := resources.Get "scss/uswds.scss" | toCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $overrides := resources.Get "scss/uswds-overrides.scss" | toCSS }}
<link rel="stylesheet" href="{{ $overrides.Permalink }}">

{{ $js := resources.Get "js/uswds.js" }}
<script src="{{ $js.Permalink }}"></script>

{{ $tablejs := resources.Get "js/tables.js" }}
<script src="{{ $tablejs.Permalink }}"></script>
