{{ partial "usa-banner.html" .Site }}

  <div class="usa-overlay"></div>

{{ if .IsHome }}
  <header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo">
        <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">{{ .Site.Title }}</a></em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
        {{ partial "primary-nav" .Site }}
        <div class="usa-nav__secondary">
          <ul class="usa-nav__secondary-links">
            <li class="usa-nav__secondary-item">
              <a href="">Secondary link</a>
            </li>
            <li class="usa-nav__secondary-item">
              <a href="">Another secondary link</a>
            </li>
          </ul>
        
          <form class="usa-search usa-search--small ">
            <div role="search">
              <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
              <input class="usa-input" id="extended-search-field-small" type="search" name="search">
              <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
  {{ else }}

  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" id="basic-logo">
          <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">{{ .Site.Title }}</a></em>
        </div>
      <button class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
      {{ partial "primary-nav" .Site }}
        <form class="usa-search usa-search--small ">
        <div role="search">
          <label class="usa-sr-only" for="basic-search-field-small">Search small</label>
          <input class="usa-input" id="basic-search-field-small" type="search" name="search">
          <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
        </div>
      </form>
      </nav>
    </div>
  </header>
{{ end }}
