$darker-blue: #09335d;
$dark-blue: #004c94;
$medium-blue: #0098d9;
$soft-yellow: #ffe15e;
$grass-green: #aad37a;
$deep-orange: #dd8c33;
$almost-black: #171717;
$dark-grey: #3d4551;
$medium-grey: #71767a;
