/*
* 
* This CSS will be loaded last, so any overrides for the theme should go here (and be used sparingly)

.usa-logo {
  border: 5px dotted red;
}

*/

@import 'fonts';

.usa-prose {
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*='heading'] {
  font-family: 'Public Sans', sans-serif !important;
}
