/*
* 
* This CSS will be loaded last, so any overrides for the theme should go here (and be used sparingly)

.usa-logo {
  border: 5px dotted red;
}

*/

@import 'colors';

@import 'typography';

@import 'tables';

.usa-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.usa-sidenav a,
.usa-sidenav a:visited,
.usa-sidenav a:hover {
  color: $almost-black;
}

.usa-sidenav .usa-current {
  color: $darker-blue;

  &::after {
    background-color: $darker-blue;
  }
}

nav[aria-label='breadcrumb'] {
  font-family: $sans-serif;
  font-size: 0.93rem;

  ol {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: '>';
      padding: 0 0.2em;
    }
  }

  a {
    color: $darker-blue;
  }

  & + h1 {
    margin-top: 1em;
  }
}

.usa-logo .usa-logo__text {
  font-weight: 400;

  a {
    display: flex;
  }

  img {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .usa-logo img {
    display: none;
  }
}

.usa-header .usa-nav {
  border-color: $medium-grey;
}
