{{ define "main" }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ML8ZQ6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <aside class="usa-layout-docs__sidenav desktop:grid-col-3">
        <nav aria-label="Secondary navigation">
          {{ $currentPage := .Page }}
          {{ $topLevelSection := .Page.FirstSection }}
          <ul class="usa-sidenav">
            {{ range $topLevelSection.Pages }}
              <li class="usa-sidenav__item">
                <a href="{{ .Permalink }}" {{ if .IsAncestor $currentPage }}class="usa-current"{{end}}>{{ .Title }}</a> 
                {{ if .IsAncestor $currentPage }}
                  <ul class="usa-sidenav__sublist">
                    {{ range .Sections }}
                      <li class="usa-sidenav__item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                      <ul class="usa-sidenav__sublist">
                        {{ range .Pages }}
                          <li class="usa-sidenav__item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                      </ul>
                    {{ end }}
                  </ul>
                {{ end }}
              </li>
            {{ end }}
          </ul>
        </nav>
      </aside>

      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        {{ .Content }}
      </div>
    </div>
  </div>
</main>
{{ end }}
