{{ define "main" }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ML8ZQ6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {{ partial "sidenav.html" . }}
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        {{ .Content }}
      </div>
    </div>
  </div>
</main>
{{ end }}
