<footer class="usa-footer usa-footer--big">
  
  <div class="grid-container">
    <h2>{{ .Site.Title }}</h2>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-2">
        <ul class="contact">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site map</a></li>
        </ul>
        <ul>
          <li><a href="#">Job opportunities</a></li>
          <li><a href="#">Privacy & Security</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>

      <div class="tablet:grid-col-3">
        <h3 class="tac">Travel Assistance Center</h3>
        <p><a href="tel:18884357146">1-888-Help1Go (1-888-435-7146)</a></p>

        <p><a class="trax" href="#">Submit a ticket in TraX</a><p>
      </div>

      <div class="tablet:grid-col-3 tablet:grid-offset-4">
        <ul>
          <li><a href="#">FOIA</a></li>
          <li><a href="#">USA.gov</a></li>
          <li><a href="#">Department of Defense</a></li>
          <li><a href="#">Personnel & Readiness</a></li>
          <li><a href="#">Defense Human Resources Activity</a></li>
          <li><a href="#">Link Disclaimer</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
